@using website.Models
@using website.Helpers
@model List<EventItem>

@{
    var dateFormat = "ddd d MMM HH:mm";
}

@if (Model != null && Model.Count > 0)
{
    foreach (var e in Model)
    {
        var startDate = UkDateHelper.ToUkTime(e.startDate);
        var endDate = UkDateHelper.ToUkTime(e.endDate);
        string displayDate = $"{startDate.ToString(dateFormat)} - {(startDate.Date != endDate.Date ? endDate.ToString(dateFormat) : endDate.ToString("HH:mm"))}";

        <li class="event">
            <a href="@e.url">
                <img src="@($"{e.poster.Url}?width=400&quality=80")" alt="@e.name" />
            </a>
            <p class="event-date">
                <span title="add to calendar">📅</span>
                <time>@displayDate</time>
            </p>
            <h3>@e.name</h3>
            <p>@e.description</p>
            <p>@if (!string.IsNullOrEmpty(e.venueUrl)) { <a href="@e.venueUrl">@e.venue</a> } else { @e.venue } @if (!string.IsNullOrEmpty(e.venueAddress)) { <span>@e.venueAddress</span> }</p>
            <a href="@e.link" target="_blank">@e.link</a>
        </li>
    }
}