@using Umbraco.Cms.Core.Security
@using Umbraco.Cms.Core.Services
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Event>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using website
@inject IPublishedValueFallback _ipvfb;
@inject IMemberManager _memberManager;
@inject IMemberService _memberService;
@inject IPublishedValueFallback _publishedValueFallback;

@{
    Layout = "_Layout.cshtml";

    string editKey = Context.Request.Query["key"];

    List<Event> events = new List<Event>();
    var isLoggedIn = Context.User?.Identity?.IsAuthenticated ?? false;
    bool isMyEvent = false;
    if (isLoggedIn)
    {
        var currentUser = await _memberManager.GetCurrentMemberAsync();
        var roles = await _memberManager.GetRolesAsync(currentUser);
        bool isSuperuser = roles.Contains("superuser");
        isMyEvent = isSuperuser || Model.Organizer != null && _memberManager.FindByIdAsync(Model.Organizer.Id.ToString()).Result.Email == currentUser.Email;

    }
    else if (!Model.EditKey.IsNullOrWhiteSpace() && editKey == Model.EditKey)
    {
        isMyEvent = true;
    }


    var startDate = Model.StartDate.ToUniversalTime();
    var endDate = Model.EndDate.ToUniversalTime();
    string displayDate = $"{startDate:R} - {(startDate.Date != endDate.Date ? endDate.ToString("R") : endDate.ToString("HH:mm"))}";

}
<h2>@Model.Name</h2>
<div class="event-page">

    <div class="event-info">
        <p>
            <time>@displayDate</time>
        </p>

        <p>@Model.Description</p>
        <p>@Model.Venue</p>
        <a href="@Model.Link" target="_blank">@Model.Link</a>
    </div>


    @if (Model.Tickets != null && Model.Tickets.Any() && Model.Value<bool>("ticketsOnline"))
    {


        @using (Html.BeginUmbracoForm<CheckoutController>(nameof(CheckoutController.SubmitTicketSelection), FormMethod.Post))
        {
            var ticketsList = Model.Tickets.ToList();
            <h2>Tickets 🎟️</h2>
            @for (int i = 0; i < ticketsList.Count; i++)
            {
                var ticketContent = ticketsList[i].Content;
                var ticket = new Ticket(ticketContent, _publishedValueFallback);

                <div class="mb-3">
                    <h4>£@ticket.Cost.ToString("F2") - @ticket.Type</h4>

                    <input type="hidden" name="Tickets[@i].TicketId" value="@ticketContent.Key" />

                    <label for="ticket_quantity_@i" class="form-label">Quantity:</label>
                    <input type="number" id="ticket_quantity_@i" name="Tickets[@i].Quantity" value="@(i == 0 ? 1 : 0)" min="0" max="20" step="1" class="form-control" style="max-width: 120px;">
                </div>
            }

            <br />

            <hr />
            <div class="mb-3" style="max-width: 400px;">
                <label for="CustomerName" class="form-label">Full Name</label>
                <input type="text" id="CustomerName" name="CustomerName" class="form-control" required />
            </div>
            <br />
            <div class="mb-3" style="max-width: 400px;">
                <label for="CustomerEmail" class="form-label">Email Address</label>
                <input type="email" id="CustomerEmail" name="CustomerEmail" class="form-control" required />
            </div>

            <input type="hidden" name="EventNodeId" value="@Model.Key" />
            <br />
            <button type="submit" class="btn btn-primary btn-lg mt-3">Buy Tickets</button>
        }
    }


    <div class="event-image">
        <img src="@($"{Model.Poster.Url()}?width=400&quality=80")" alt="@Model.Name" />
        <br /> <a href="@Model.Poster.Url()" download>View full size</a>
    </div>



</div>


@if (isMyEvent)
{

    @Html.Partial("~/Views/Partials/EditEventForm.cshtml", new Event(Model, _ipvfb))

    @await Component.InvokeAsync("EventOrders", new { eventNodeId = Model.Key })

}