@using website.Models
@model WeeklyEmailViewModel
@{
    Layout = null;
    var dateFormat = "ddd d MMM HH:mm";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
        }

        .event-item {
            border-bottom: 1px solid #eee;
            padding: 20px 0;
        }

        .event-date {
            color: #555;
            font-weight: bold;
            font-size: 14px;
        }

        h2 {
            margin: 5px 0;
            font-size: 18px;
        }

        h3 {
            margin: 30px 0 10px 0;
            font-size: 20px;
            border-bottom: 2px solid #333;
            padding-bottom: 5px;
        }

        a {
            color: #000;
            text-decoration: underline;
        }
    </style>
</head>
<body>

    @if (Model.UpcomingEvents.Any())
    {
        <h3>Events this week</h3>
        <ul>
            @foreach (var e in Model.UpcomingEvents)
            {
                var startDate = e.startDate.ToUniversalTime();
                var endDate = e.endDate.ToUniversalTime();
                string displayDate = $"{startDate.ToString(dateFormat)} - {(startDate.Date != endDate.Date ? endDate.ToString(dateFormat) : endDate.ToString("HH:mm"))}";

                <li class="event-item">
                    <div class="event-details">
                        <p class="event-date">📅 @displayDate</p>
                        <h2><a href="@e.url">@e.name</a></h2>
                        <p>@e.description</p>
                        <p><strong>Venue:</strong> @e.venue</p>
                    </div>
                </li>
            }
        </ul>
    }
    else
    {
        <p>No events coming up this week.</p>
    }

    @if (Model.RecentlyAddedEvents.Any())
    {
        <h3>Events added to the site last week</h3>
        <ul>
            @foreach (var e in Model.RecentlyAddedEvents)
            {
                var startDate = e.startDate.ToUniversalTime();
                var endDate = e.endDate.ToUniversalTime();
                string displayDate = $"{startDate.ToString(dateFormat)} - {(startDate.Date != endDate.Date ? endDate.ToString(dateFormat) : endDate.ToString("HH:mm"))}";

                <li class="event-item">
                    <div class="event-details">
                        <p class="event-date">📅 @displayDate</p>
                        <h2><a href="@e.url">@e.name</a></h2>
                        <p>@e.description</p>
                        <p><strong>Venue:</strong> @e.venue</p>
                    </div>
                </li>
            }
        </ul>
    }

    <p><a href="https://communalleisure.com">communalleisure.com</a></p>
</body>
</html>
